extend layout.jade

block navbar
  - var path = 'index.html'
  include partials/navbar.jade

block content
    // 缩进表示替换 block 占位符的内容
    .container
      h1
        span Gulp
        // 插入同级文本内容，以管道符号开始作分隔
        | 学习

      ul
        li
          // 元素的属性在括号中
          a(href="#") link
        li
          a(href="#") link
        li
          a(href="#") link
      // 可以将嵌套的元素写在同一行，使用冒号 : 分隔
      h1: a(href="#"): span 链接

      hr
      // 元素的类属性可以使用类的字面值 .classname 语法来定义，如果省略了元素就默认使用块元素 div
      .container
        form(action="")
          label(for="email") 请输入 Email
          // 元素的 ID 属性可以使用 #idname 语法来定义
          // 元素多个属性可以用空格或逗号分隔
          input#email.input-sm(type="text" class="form-control")